div {
    width: 300px;
    border: 15px solid rgb(114, 114, 114);
    padding: 50px;
    margin: 20px;
  }
  body {
    font: normal 16px Arial, Helvetica, sans-serif; 

    line-height:1.6em;
    margin:0;
  }

  .box-1{
    background-color: #333;
    color: #fff;
  }